*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 70px;
    background-color: rgb(10, 94, 97);
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
}
.fa{
    margin-right: 15px;
}
.header img{
    width: 30;
    height: 50px;
    margin-top: 8px;
}
.headerText{
    color: white;
    line-height: 50px;
    margin-left: 10px;
    font-weight: bolder;
    font-family: arial;
    margin-top: 8px;
}
.content img{
    height: 400px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 50px;
}
.content{
    padding: 30px;
    width: 100%;
}
.navigation{
    float: left;
    position: fixed;
    display: block;
    top: 70px;
    background-color: black;
    height: 100vh;
    width: 20%;
    text-align: center;
    left: -100%;
    transition: 0.5s;
}
.navigation ul li{
    border-bottom: 2px white solid;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding : 10px 25px;
}
.menu li a {
    text-decoration: none;
    color: white;
    font-family: arial;
    text-transform: uppercase;
    padding: 80px;
}
.menu li {
    list-style: none;
    line-height: 70px;
}

.show-btn, .hide-btn{
    font-size: 30px;
    color: black;
    position: fixed;
    top: 15px;
    left: 50px;
}

.hide-btn{
    opacity: 0;
    font-size: 30px;
    color: black;
}



.navigation li :hover{
    border-left: 8px solid white;
    transition: .2s;
}
#chk:checked ~ .navigation{
    left: 0%;
}
#chk:checked ~ .show-btn{
    opacity: 0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
}
#chk{
    position: absolute;
    top: 0;
    visibility: hidden;
}
.social{
    display: flex;
    margin-top: 200px;
    align-items: center;
    font-size: 30px;
    color: yellow;
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
}
i{
    font-size: 30px;
    color: white;
}

@media (max-width: 768px) {
    .navigation{
        width: 100%;
        text-align: center;
    }
    .header h1{
        display: none;
    }
}